<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        a{
		color: rgb(244, 244, 244);
		text-decoration: none;
		background-color: #3a8532;
		padding: 15px; /* 패딩: 안쪽여백, 마진: 밖여백 */
		
		/* 글자가 깨졌으니 밑의 display 추가하자 */
		display: inline-block; /* 인라인모드/블럭모드 이해 필요  */
		
		width: 200px;
		text-align: center;
		
		margin: 5px;
	} 
	
	a:hover{/* a태그에 마우스가 올라갈 때 라는 의미*/
		color: rgb(173, 234, 196);
		
	}
    </style>
</head>
<body>
    <header><h3>FOOTSAMO</h3></header>
        <div>
            <a href="/login">로그인</a><br>
            <a href="/join">회원가입</a><br>
        </div>
        <div>
            <a href="/admin_login">admin</a><br>
        </div>

   
</body>
</html>